body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  margin-top: 7em;
}

#mapid {
  margin: 10px auto;
  width: 70vw;
  height: 70vh;
}

.myform {
  text-align: center;
}
ul {
    list-style-type:none
}

#food-search {
  margin-top: 5em;
}
